.footerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #512a29c1;
    position: fixed;
    bottom: 0;
}
.footerDescription{
    color: #e7cfcd96;
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.iconfooter{
    height: 4vh;
    border-radius: 4%;
    margin-right: 0.5rem;
}
.iconfooter:hover{
    background-color: #8e4a49a7;
    border-radius: 10%;
}