.skills{
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.tittleSkills{
    color: #E7CFCD;
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif;
    margin-top: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.skillsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 90vw;
    height: auto;
    padding-bottom: 5rem;
}
.skillContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: 42vh;
    background-color: #512A29;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px 
    inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px 
    inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px 
    inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
     rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 0.4rem;
    border-radius: 5%;
}
        .skillContainer:hover{
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }

.skillTittle{
    font-size: 3vh;
    color: #E7CFCD;
    text-shadow: 2px 2px 5px #1B0E0E;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}
.iconSkills{
    height:20vh;
    margin-bottom: 1rem;
}

/*For Mobile*/
@media only screen and (min-width: 300px) and (max-width: 800px) {
    .skillContainer{
        width: 70vw;
        height: 34vh;
    }
    .iconSkills{
        margin-bottom: 2rem;
    }

}